/*clear styles*/
* {
    margin: 0;
    padding: 0;
}

/*@import url('https: //fonts.google.com/specimen/Montserrat');
@import url('https: //fonts.google.com/specimen/Fraunces');*/

/*footer text generic*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*beginning*/
.mainSection {
    background-color: hsl(30, 38%, 92%);
    display: grid;
    grid-template-areas: "left top right"
            "left putHere right"
            "left bottom right"
            "left footer right";
    grid-template-columns: 1fr 1.3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}

.card {
    border-radius: 15px;
    background-color: white;
    max-width: 600px;
    grid-area: putHere;
    display: grid;
    grid-template-areas: "leftSide rightSide";
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.imageSection {
    grid-area: leftSide;
    display: flex;
    justify-content: left;
}

.writtenSection {
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    grid-area: rightSide;
}

.heading {
    font-family: '';
    font-weight: 700;
    color: rgb(0, 0, 19);
}

.photo {
    border-radius: 15px 0 0 15px;
    max-width: 300px;
}

.photomobile {
    border-radius: 15px 15px o o;
    display: none;
}

.footer {
    grid-area: footer;
}

.mainText {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    fonts
    color: hsl(228, 12%, 48%)
}

.priceSection {
    color: darkcyan;
    display: flex;
    align-items: center;
}

.price {
    display: flex;
    justify-self: left;
}

.scratchedOut {
    display: flex;
    justify-self: end;
    padding-left: 30px;
}

.addToCart {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    background-color: darkcyan;
    color: antiquewhite;
    border: none;
    width: 240px;
    height: 50px;
    border-radius: 5px;
}

.cart {
    padding: 15px;
}

button:hover {
    background-color: rgb(2, 37, 37);
}

@media (max-width: 595px) {
    .mainSection {
        background-color: hsl(30, 38%, 92%);
        display: grid;
        grid-template-areas: "topPhone"
                "putHerePhone"
                "footerPhone";
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .card {
        grid-area: putherePhone;
        display: grid;
        grid-template-areas: "phonetop"
        "phonebottom";
        grid-template-rows: 1fr 1fr;
        justify-content: center;
    }

    .imageSection {
        grid-area: phonetop;
        display: flex;
        justify-content: left;
        display: grid;
        justify-content: center;
    }
    
    .writtenSection {
        margin-left: 30px;
        margin-top: 30px;
        margin-right: 30px;
        grid-area: phonebottom;
        display: grid;
        justify-content: center;
    }

    .photo {
        border-radius: 15px 0 0 15px;
        max-width: 300px;
        display: none;
    }
    
    .photomobile {
        border-radius: 15px 15px o o;
        display: block;
        max-width: 250px;
    }
}