/*clear styles*/
* {
    margin: 0;
    padding: 0;
}

/*@import url('https: //fonts.google.com/specimen/Montserrat');
@import url('https: //fonts.google.com/specimen/Fraunces');*/

/*footer text generic*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*beginning*/

.container {
    background-color: white;
}

.mainSection {
    background-color: hsl(30, 38%, 92%);
    max-width: 1440px;
    display: grid;
    grid-template-areas: "left top right"
            "left putHere right"
            "left bottom right"
            "left footer right";
    grid-template-columns: 1fr 1.3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}

.card {
    border-radius: 15px;
    background-color: white;
    width: 600px;
    grid-area: putHere;
    display: grid;
    grid-template-areas: "leftSide rightSide";
    grid-template-columns: 1fr 1fr;
}

.imageSection {
    grid-area: leftSide;
    display: flex;
    justify-content: left;
}

.writtenSection {
    margin-left: 50px;
    margin-top: 30px;
    grid-area: rightSide;
    
}

.heading {
    font-family: '';
    font-weight: 700;
    color: rgb(0, 0, 19);
}

.photo {
    border-radius: 15px 0 0 15px;
    max-width: 300px;
}

.footer {
    grid-area: footer;
}

.mainText {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    fonts
    color: hsl(228, 12%, 48%)
}

.priceSection {
    color: darkcyan;
    display: flex;
    align-items: center;
}

.price {
    display: flex;
    justify-self: left;
}

.scratchedOut {
    display: flex;
    justify-self: end;
    padding-left: 30px;
}

.addToCart {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    background-color: darkcyan;
    color: antiquewhite;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

.cart {
    padding: 15px;
}